.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: smaller;
    width: 90%;
    margin-left: 5%;
    height: 8rem;
    background-color: lightgray;
    overflow: scroll;
}

.scriptItem {
    color: darkgray;
    font-style: italic;
}
.latestScriptItem {
    color: gray;
    font-style: normal;
}
label.prompt {
    font-weight: bold;
    padding-right: 10px;
}


